---
layout: default
title: Munged.Org
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
    <header class="post-header">
        <h1 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
        <p class="post-meta">Posted {% if post.author %} by {{ post.author }}{% endif %}
          on {{ post.date | date: "%b %-d, %Y" }}<br />
          {% if post.tags != empty %}Tags: {{ post.tags | sort | array_to_sentence_string }}{% endif %}
        </p>
    </header>

    <article class="post-content">
    {{ post.content }}
    </article>
    {% endfor %}
  </ul>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <div class="align-left">
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer Posts</a>
    </div>
  {% endif %}

  {% if paginator.next_page %}
    <div class="align-right">
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older Posts</a>
    </div>
  {% endif %}
</div>
{% endif %}

</div>